html, body {
    height: 100%; 
    margin: 0;   
    display: flex; 
    flex-direction: column; 
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(6, 57, 54);
}

header {
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto; 
    flex: 1; 
}


h1 {
    font-size: 2.5rem;
    color: white;
}

h2 {
    font-size: 2rem;
    color:black;
    margin-bottom: 10px;
}

ul.toc {
    list-style-type: none;
    padding: 0;
}

ul.toc li {
    font-size: 1.2rem;
    margin: 10px 0;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.input-box {
    width: 100%; 
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea.input-box {
    height: 100 px;
    resize: none;
}

.submit-btn {
    background-color: #0b4f44;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #186e61;
}


.navbar {
    background-color: #333;
    padding: 10px;
    text-align: right; 
    position: fixed;  
    top: 0;            
    left: 0;        
    width: 100%;    
    z-index: 1000;   
    margin: 0;        
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #4a9b94;
}

/* Footer styling */
.footer {
    background-color: #333;
    color: white;        
    text-align: center;  
    padding: 10px 0;    
    width: 100%;        
    margin-top: auto;      
}

.footer ul {
    list-style-type: none;  
    padding: 0;             
    margin: 10px 0 0;      
}

.footer ul li {
    display: inline;        
    margin: 0 10px;         
}

.footer a {
    color: white;          
    text-decoration: none;  
}

.footer a:hover {
    text-decoration: underline;
}

.navigation {
    margin-top: 20px; 
    text-align: center; 
    margin-bottom: 30px;
}

.next-button {
    display: inline-block;
    background-color: #277867; 
    color: white; 
    padding: 10px 20px;
    font-size: 1rem;
    border: none; 
    border-radius: 5px;
    text-decoration: none; 
    transition: background-color 0.3s ease; 
}

.next-button:hover {
    background-color: #4c9d9d; 
}

.next-navigation {
    display: inline-block;
    background-color: #4cadaf;
    color: white; 
    padding: 10px 20px; 
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none; 
    transition: background-color 0.3s ease; 
    margin-top: 60px; 
}

.next-navigation:hover {
    background-color: #0c3d3c;
}

.welcome-container {
    text-align: center; 
}

.welcome-content {
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 20px; 
}

.welcome-image {
    max-width: 7%;
    height: auto;
    margin-right: 20px; 
    margin-bottom: 0px;
}

.welcome-text {
    max-width: 40%;
}
.header-container {
    display: flex; 
    align-items: center; 
}


.username-container {
    text-align: center; 
    margin-top: 50px 0; 
}

.username-container h2 {
    font-size: 2rem; 
    margin-bottom: 15px; 
}

.username-container .form-group {
    display: inline-block; 
    text-align: left; 
}

.username-container input {
    width: 250px; 
    padding: 5px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
}

.username-container .submit-btn {
    background-color: #0c3d32;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-box {
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 20px;
    max-width: 400px; 
    margin: 0 auto; 
    margin-top: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.form-box h2 {
    text-align: center; 
    margin-bottom: 15px; 
}

.form-box label {
    display: block; 
    margin-bottom: 5px; 
}

.form-box input {
    width: 100%; 
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-box button {
    width: 100%; 
    padding: 10px;
    background-color: #076358; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 10px;
}

.form-box button:hover {
    background-color: #0f534d; 
}

.link-container {
    text-align: center;
    margin-top: 10px; 
}

.button-link {
    display: inline-block; 
    background-color: #15866f; 
    color: white;
    padding: 10px 20px; 
    font-size: 1rem; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
    text-align: center; 
}

.button-link:hover {
    background-color: #45a08c; 
}

.welcome-box {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px; 
    padding: 20px; 
    max-width: 400px; 
    margin: 0 auto;
    margin-top: 130px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.welcome-box h1 {
    margin-bottom: 15px;
    font-size: 1rem; 
    color: #333; 
}

.welcome-box p {
    font-size: 1rem; 
    margin-bottom: 20px; 
    color: #555; 
}

.welcome-box .submit {
    background-color: #208d82; 
    color: white; 
    padding: 10px 20px;
    font-size: 1rem; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.welcome-box .submit:hover {
    background-color: #1f8988; 
}

.card-container {   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #1c2221c2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px 0; 
    margin-top: 10px;
    margin-left: 15px;
    margin-right:15px;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-body {
    font-size: 2rem;
    background-color:whitesmoke ;
    line-height: 1.1;
}

#gfg-nuj-chapters-div {
    margin: 40px;
}

#gfg-nuj-chapters-heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}   

#gfg-nuj-chapters-main-div {
    background-color: #0e4e45c2; 
    border: 1px solid #087a78; 
    border-radius: 8px; 
    padding: 20px;
}


.gfg-nuj-single-chapter-div {
    border-bottom: 1px solid #072e2f;
    padding: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-bottom: 10px; 
}


.gfg-nuj-single-chapter-div:hover {
    background-color: #508e848b; 
}


.gfg-nuj-single-chapter-heading-div {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px; 
}

.gfg-nuj-single-chapter-title {
    font-size: 20px;
    font-weight: 500;
}

.gfg-nuj-single-chapter-icon-heading {
    margin-right: 10px; 
    transition: transform 0.3s ease; 
}


.gfg-nuj-single-chapter-div:hover .gfg-nuj-single-chapter-icon-heading {
    transform: rotate(90deg); 
}


.gfg-nuj-single-track-div {
    text-decoration: none;
    color: #7cafcf; 
    padding: 8px; 
}

.gfg-nuj-single-track-div:hover {
    text-decoration: underline; 
    background-color: #7cafcf; 
    transition: background-color 0.3s ease; 
}


.gfg-nuj-single-chapter-hidden-div {
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.3s ease;
}

.gfg-nuj-single-chapter-div:hover .gfg-nuj-single-chapter-hidden-div {
    max-height: 100px; 
}

.gfg-nuj-single-chapter-hidden-content {
    padding: 10px; 
    background-color: #09a6a1; 
}
